doctype html
html
  head
    title My Site
    script(src='./client/script.js')
  body
    p M3: Multi-Modal-Maps
    input#origin(type='text', name='origin', value='2050 S Bentley Ave Los Angeles 90025')
    input#destination(type='text', name='destination', value='1906 Ocean Ave, Santa Monica, CA')
    button(onclick='onChangeHandler()') Route!
    div#container(style={width: '100%', height: '500px'})
      div#map(style={width: '100%', height: '100%'})
    script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${gmapkey}&callback=initMap`)